REACT_APP_API_URL=http://localhost:3000/api
REACT_APP_AUTH_ENDPOINT=http://4.224.186.213/evaluation-service/auth
REACT_APP_REGISTER_ENDPOINT=http://4.224.186.213/evaluation-service/register
REACT_APP_LOGS_ENDPOINT=http://4.224.186.213/evaluation-service/logs
